@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    --color-white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit";
    font-weight: 400;
    font-size: 15px;
    background-color: var(--slate-300);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    width: 350px;
    height: 550px;
    border-radius: 1em;
    padding: 1.25em;
    text-align: center;
    transition: box-shadow 0.3s ease 0s;
}

.card img {
    border-radius: 1em;
    max-width: 100%;
    height: auto;
}

.qr-text-container {
    margin-left: 1em;
    margin-right: 1em;
    display: block;
    /* justify-content: start; */
    /* gap: 5px; */
}

.card h1 {
    color: var(--slate-900);
    font-weight: 700;
    font-size: 26px;
}

.card p {
    color: var(--slate-500);
    font-weight: 400;
    font-size: inherit;
}

.card:hover {
    box-shadow: 5px 5px 20px 5px hsla(216, 15%, 48%, 70%);
}

